#define RC_FILE_TYPE VFT_APP
#define RC_VERSION_INTERNAL_NAME "ndpingpong\0"
#define RC_VERSION_ORIGINAL_FILE_NAME "ndpingpong.exe\0"
#define RC_VERSION_FILE_DESCRIPTION "NetworkDirect send/recv pingpong test\0"
    
#include <bldver.rc>
