#define RC_FILE_TYPE VFT_APP
#define RC_VERSION_INTERNAL_NAME "ndmw\0"
#define RC_VERSION_ORIGINAL_FILE_NAME "ndmw.exe\0"
#define RC_VERSION_FILE_DESCRIPTION "NetworkDirect memory window test\0"
    
#include <..\examples\bldver.rc>
