#define RC_FILE_TYPE VFT_APP
#define RC_VERSION_INTERNAL_NAME "ndmpic\0"
#define RC_VERSION_ORIGINAL_FILE_NAME "ndmpic.exe\0"
#define RC_VERSION_FILE_DESCRIPTION "NetworkDirect MS-MPI connection emulator test\0"
    
#include <..\examples\bldver.rc>
