#define RC_FILE_TYPE VFT_APP
#define RC_VERSION_INTERNAL_NAME "ndregrate\0"
#define RC_VERSION_ORIGINAL_FILE_NAME "ndregrate.exe\0"
#define RC_VERSION_FILE_DESCRIPTION "NetworkDirect memory registration bandwidth test\0"
    
#include <bldver.rc>
